body {
	background-image: url('images/background.png');
	background-size: 8em;
	font-family: Verdana, Geneva, sans-serif;
}

#principal {
	width: 1100px;
}

#logo {
	width: 1100px;
	height: 450px;
}

#header {
	background-color: #B3B31E;
	padding: 30px;
	text-align: center;
}

.headerText {
	color: black;
	font-weight: 600;
	text-decoration: none;
	font-size: 20px;
}

#conteudo {
	background-color: #EAEADC;
	border: 8px solid #EAEADC;
	font-size: 19px;
}

#linkIndex {
	color: #8C8C1D;
}

.contatos {
	background-color: #B3B31E;
	padding: 2px;
}

#conteudoProds {
	background-color: #EAEADC;
	border: 8px solid #EAEADC;
	font-size: 19px;
	text-align: center;
}

.linkProds {
	text-decoration: none;
	border: 1px outset #B3B31E;
	color: darkblue;
	background-color: #B3B31E;
}

#categoria {
	padding: 5px;
}

#titulo {
	background-color: #F0E68C;
	padding: 20px;
	text-align: center;
	font-size: 33px;
	font-weight: 600;
	color: #FF8C00;
}

#headerProds {
	background-color: #B3B31E;
	padding: 25px;
	text-align: left;
}

#foto {
	width: 1035px;
	height: 450px;
	border: 17px solid #F0E68C;
}

.conteudoProds {
	background-color: #EAEADC;
	border: 16px solid #EAEADC;
	font-size: 19px;
}

.produtos {
	background-color: #F0E68C;
	width: 700px;
}

.nomeProds {
	text-align: left;
	border-left: 20px solid #FF8C00;
	padding: 8px;
}

.fotoProds {
	height: 500px;
	width: 800px;
	border: 18px solid #F0E68C;
}

.descricao {
	background-color: #F0E68C;
	width: 835px;
}

.descricaoNome {
	text-align: left;
	padding: 7px;
	background-color: #FF8C00;
}

.txtDescricao {
	padding-left: 8px;
}

.txtCores {
	padding-left: 8px;
	font-weight: 600;
}

.azul {
	width: 100px;
    height: 100px;
    border-radius: 50%; 
    background-color: blue;
    margin: 50px;
}

.branco {
	width: 100px;
    height: 100px;
    border-radius: 50%; 
    background-color: white;
    margin: 50px;
}

.vermelho {
	width: 100px;
    height: 100px;
    border-radius: 50%; 
    background-color: red;
    margin: 50px;
}

.linkContato {
	text-decoration: none;
	color: #FF8C00;
}

.hr {
	border: 1px solid #FF8C00;
}

#dev {
	text-align: center;
	color: #B8860B;
}
